## Conf file for wsdl_kegg.pl script
#
## Version of
VERSION=2014-05-07
#
## ARGVT
#EXE=E:\TESTs\metabolomicsBankWs\metabolicBankWS-0.1-a0bc61bf.jar
EXE=/etc/perl/metabolomics/bankws_jar/metabolicBankWS_client-0.1.jar

## Galaxy url for HTML JS and CSS path 
JS_GALAXY_PATH=http://localhost:8080/static/scripts/libs/outputs
CSS_GALAXY_PATH=http://localhost:8080/static/style
#
## HTML OUTPUT : 
HTML_ENTRIES_PER_PAGE=4
#HTML_TEMPLATE=J:\BioInfoTools\galaxy_tools\identification\banks_queries\massbank-ws\massbank_out.tmpl
HTML_TEMPLATE=/home/kai/Desktop/galaxy/tools/annotation/banks_queries/massbank-ws/massbank_out.tmpl
#
## KEGG FEATURES
URL_MASSBANK=http://www.massbank.jp/jsp/FwdRecord.jsp?id=
